NodeRed/NodeRedReglungssystem.json
[{"id":"61b809b2.07e99","type":"tab","label":"Reglungssystem","disabled":false,"info":""},{"id":"efd5b6fe.06ec6","type":"ui_slider","z":"61b809b2.07e99","name":"","label":"Länge (cm)","tooltip":"","group":"f519bd21.4fe6b8","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"laenge","min":0,"max":"2000","step":1,"x":110,"y":460,"wires":[["26abc79e.a4e138"]]},{"id":"9a83caf.bae8a38","type":"ui_slider","z":"61b809b2.07e99","name":"","label":"Breite (cm)","tooltip":"","group":"f519bd21.4fe6b8","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"breite","min":0,"max":"500","step":1,"x":110,"y":500,"wires":[["26abc79e.a4e138"]]},{"id":"9da17f57.e6236","type":"ui_slider","z":"61b809b2.07e99","name":"","label":"Höhe (cm)","tooltip":"","group":"f519bd21.4fe6b8","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"hoehe","min":0,"max":"400","step":1,"x":110,"y":540,"wires":[["26abc79e.a4e138"]]},{"id":"e652c4d7.4bb55","type":"ui_slider","z":"61b809b2.07e99","name":"","label":"Anzahl Lüfter","tooltip":"","group":"f519bd21.4fe6b8","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"luefter_anzahl","min":0,"max":10,"step":1,"x":110,"y":580,"wires":[["26abc79e.a4e138"]]},{"id":"95dd2e01.d0482","type":"comment","z":"61b809b2.07e99","name":"Data In","info":"","x":250,"y":100,"wires":[]},{"id":"3157d551.894162","type":"comment","z":"61b809b2.07e99","name":"Setup","info":"","x":50,"y":400,"wires":[]},{"id":"88c22db6.8407d","type":"ui_text","z":"61b809b2.07e99","group":"f519bd21.4fe6b8","order":5,"width":0,"height":0,"name":"","label":"Raumvolumen","format":"{{msg.payload.volumen}}","layout":"row-left","x":620,"y":600,"wires":[]},{"id":"26abc79e.a4e138","type":"function","z":"61b809b2.07e99","name":"save user input","func":"var volumen_ref = 72000;\n\nswitch (msg.topic) {\n    case \"laenge\":\n        context.set(\"laenge\", msg.payload);\n        break;\n    case \"breite\":\n        context.set(\"breite\", msg.payload);\n        break;\n    case \"hoehe\":\n        context.set(\"hoehe\", msg.payload);\n        break;\n    case \"luefter_anzahl\":\n        context.set(\"luefter_anzahl\", msg.payload);\n        break;\n    case \"luefter_topologie\":\n        context.set(\"luefter_topologie\", msg.payload);\n        break;\n}\n\nmsg.payload= {\n     volumen: context.get(\"laenge\") * context.get(\"breite\") * context.get(\"hoehe\"),\n     ratio: (context.get(\"laenge\") * context.get(\"breite\") * context.get(\"hoehe\")) / volumen_ref,\n     laenge: context.get(\"laenge\"),\n     breite: context.get(\"breite\"),\n     hoehe: context.get(\"hoehe\"),\n     luefter_anzahl: context.get(\"luefter_anzahl\"),\n     luefter_topologie: context.get(\"luefter_topologie\")\n}\n\nmsg.topic = \"volume_factor\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":540,"wires":[["88c22db6.8407d","782116b4.e017a8","c76189d4.3058b8"]]},{"id":"782116b4.e017a8","type":"debug","z":"61b809b2.07e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":590,"y":640,"wires":[]},{"id":"19c5afde.11d06","type":"ui_dropdown","z":"61b809b2.07e99","name":"","label":"Lüfter Topologie","tooltip":"","place":"Wähle Topologie aus","group":"f519bd21.4fe6b8","order":6,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Einzel","value":"A","type":"str"},{"label":"Paralell","value":"B","type":"str"},{"label":"Reihe","value":"C","type":"str"}],"payload":"","topic":"topic.luefter_topologie","x":100,"y":620,"wires":[["26abc79e.a4e138"]]},{"id":"59e5f952.6154a","type":"json","z":"61b809b2.07e99","name":"","property":"payload","action":"","pretty":false,"x":1070,"y":220,"wires":[["98e99a0a.ec9518"]]},{"id":"2fa33edc.1716da","type":"change","z":"61b809b2.07e99","name":"Filter only luefter_soll","rules":[{"t":"delete","p":"payload.device","pt":"msg"},{"t":"delete","p":"payload.sensorType","pt":"msg"},{"t":"delete","p":"payload.CO2_equiv","pt":"msg"},{"t":"delete","p":"payload.temperature","pt":"msg"},{"t":"delete","p":"payload.humidity","pt":"msg"},{"t":"delete","p":"payload.state","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":220,"wires":[["cedf3b11.1ae448","59e5f952.6154a"]]},{"id":"9f604de.9525bb","type":"comment","z":"61b809b2.07e99","name":"Controller","info":"","x":580,"y":100,"wires":[]},{"id":"cedf3b11.1ae448","type":"debug","z":"61b809b2.07e99","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":160,"wires":[]},{"id":"c76189d4.3058b8","type":"function","z":"61b809b2.07e99","name":"P-Controller","func":"var soll_wert = 600;\nvar p0_wert = 0.005;\nvar dif = msg.payload.CO2_equiv - soll_wert;\nvar refFactor = 1;\n\nif(context.get(\"state\")==undefined){\n    context.set(\"state\", false);\n}\n\nif(context.get(\"factor\")==undefined){\n    context.set(\"factor\", refFactor);\n}\n\nswitch (msg.topic) {\n    case \"/productiv/sensorData\":\n        context.set(\"ist_wert\", parseInt(msg.payload.CO2_equiv));\n        break;\n    case \"volume_factor\":\n        context.set(\"factor\", msg.payload.ratio);\n        break;\n    case \"/productiv/userInput/state\":\n        context.set(\"state\", msg.payload.state);\n        break;        \n}\n\nvar state = context.get(\"state\");\nvar ist_wert = context.get(\"ist_wert\");\nvar p_wert = p0_wert * context.get(\"factor\");\n\n\nif (state == true) {\nif(ist_wert >= soll_wert && ist_wert <= soll_wert+(1/p_wert)) {\n    msg.payload.luefter_soll = p_wert * dif * 100;\n}\nelse if (msg.payload.CO2_equiv > soll_wert+(1/p_wert)) {\n    msg.payload.luefter_soll = 100;\n}\nelse {\n    msg.payload.luefter_soll = 0;\n}\n}\nelse {\nmsg.payload.luefter_soll = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":220,"wires":[["2fa33edc.1716da","52730134.055d98"]]},{"id":"97af5415.6aaf6","type":"comment","z":"61b809b2.07e99","name":"Data Out","info":"","x":960,"y":100,"wires":[]},{"id":"52730134.055d98","type":"debug","z":"61b809b2.07e99","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":280,"wires":[]},{"id":"37ba55ba.b32b5a","type":"mqtt in","z":"61b809b2.07e99","name":"","topic":"/productiv/sensorData","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":120,"y":220,"wires":[["c76189d4.3058b8"]]},{"id":"98e99a0a.ec9518","type":"mqtt out","z":"61b809b2.07e99","name":"","topic":"/productiv/controllSystem","qos":"1","retain":"true","broker":"f37ee20c.9d2ee","x":1310,"y":220,"wires":[]},{"id":"fd988e7c.6e90f","type":"mqtt in","z":"61b809b2.07e99","name":"","topic":"/productiv/userInput/state","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":130,"y":300,"wires":[["c76189d4.3058b8"]]},{"id":"f519bd21.4fe6b8","type":"ui_group","name":"Raum Konfiguration","tab":"f0bbb2a5.b8efa","order":1,"disp":true,"width":"10","collapse":false},{"id":"f37ee20c.9d2ee","type":"mqtt-broker","name":"Raspberry Pi","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f0bbb2a5.b8efa","type":"ui_tab","name":"Digitaler Master","icon":"dashboard","order":2,"disabled":false,"hidden":false}]