NodeRed/NodeRedDatahandling.json
[{"id":"d5054e04.618f78","type":"tab","label":"Datahandling","disabled":false,"info":""},{"id":"9e9b6872.51401","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/test/Maschine/UserInput","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":250,"y":520,"wires":[["16b63346.e5699d","e68916fa.72f178"]]},{"id":"2e4478cb.563c4","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/test/Maschine/Status","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":240,"y":380,"wires":[["31374975.368e66","5e3a89f6.c97b58"]]},{"id":"856507de.c4b628","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/test/temp/Outside","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":230,"y":240,"wires":[["ed810307.c4809","ee271152.47a0a8"]]},{"id":"59f47a2c.3014b4","type":"debug","z":"d5054e04.618f78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":529,"y":677,"wires":[]},{"id":"8dd0cc12.dbe6e","type":"comment","z":"d5054e04.618f78","name":"MQTT Data in Databases","info":"","x":190,"y":80,"wires":[]},{"id":"ed810307.c4809","type":"influxdb out","z":"d5054e04.618f78","influxdb":"373fa459.54e07c","name":"Sensor Data","measurement":"mm_sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":790,"y":240,"wires":[]},{"id":"31374975.368e66","type":"influxdb out","z":"d5054e04.618f78","influxdb":"373fa459.54e07c","name":"Machine Data","measurement":"mm_machine","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":779,"y":376,"wires":[]},{"id":"95b494a1.c9427","type":"influxdb out","z":"d5054e04.618f78","influxdb":"373fa459.54e07c","name":"User Input Data","measurement":"mm_userinput","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":800,"y":736,"wires":[]},{"id":"c70c71bd.8662c","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/test/Maschine/UserInput/Digi","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":240,"y":740,"wires":[["59f47a2c.3014b4","95b494a1.c9427"]]},{"id":"1ce441ca.29d66e","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/test/Maschine/UserInput/Phy","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":240,"y":800,"wires":[["59f47a2c.3014b4","95b494a1.c9427"]]},{"id":"16b63346.e5699d","type":"influxdb out","z":"d5054e04.618f78","influxdb":"373fa459.54e07c","name":"controllsystem","measurement":"mm_controllsystem","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":779,"y":517,"wires":[]},{"id":"e68916fa.72f178","type":"debug","z":"d5054e04.618f78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":529,"y":477,"wires":[]},{"id":"d516d334.230d3","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/productiv/sensorData","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":180,"y":300,"wires":[["933bdcf6.ba9bf"]]},{"id":"e890efe0.5f95","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/productiv/machineData","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":180,"y":440,"wires":[["5e3a89f6.c97b58","2bfa26b3.145eea"]]},{"id":"265b417b.17d79e","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/productiv/controllSystem","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":190,"y":580,"wires":[["e68916fa.72f178","e66cced0.c90ea"]]},{"id":"198de3d6.579b5c","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/productiv/userInput/digital","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":190,"y":856,"wires":[["59f47a2c.3014b4","f6572277.8d02a"]]},{"id":"aedb3270.3333c","type":"mqtt in","z":"d5054e04.618f78","name":"","topic":"/productiv/userInput/physical","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":200,"y":916,"wires":[["59f47a2c.3014b4","f6572277.8d02a"]]},{"id":"5e3a89f6.c97b58","type":"debug","z":"d5054e04.618f78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":529,"y":335,"wires":[]},{"id":"ee271152.47a0a8","type":"debug","z":"d5054e04.618f78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":200,"wires":[]},{"id":"14941d0e.cada43","type":"influxdb out","z":"d5054e04.618f78","influxdb":"2a8de634.b110ca","name":"Sensor Data","measurement":"mm_sensor","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":790,"y":300,"wires":[]},{"id":"2bfa26b3.145eea","type":"influxdb out","z":"d5054e04.618f78","influxdb":"2a8de634.b110ca","name":"Machine Data","measurement":"mm_machine","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":780,"y":440,"wires":[]},{"id":"e66cced0.c90ea","type":"influxdb out","z":"d5054e04.618f78","influxdb":"2a8de634.b110ca","name":"controllsystem","measurement":"mm_controllsystem","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":780,"y":580,"wires":[]},{"id":"f6572277.8d02a","type":"influxdb out","z":"d5054e04.618f78","influxdb":"2a8de634.b110ca","name":"User Input Data","measurement":"mm_userinput","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":800,"y":860,"wires":[]},{"id":"933bdcf6.ba9bf","type":"function","z":"d5054e04.618f78","name":"","func":"msg.payload.CO2_equiv =  parseInt(msg.payload.CO2_equiv)\nmsg.payload.temperature= parseInt(msg.payload.temperature)\nmsg.payload.humidity= parseInt(msg.payload.humidity)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":300,"wires":[["ee271152.47a0a8","14941d0e.cada43"]]},{"id":"f37ee20c.9d2ee","type":"mqtt-broker","name":"Raspberry Pi","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"373fa459.54e07c","type":"influxdb","hostname":"192.168.1.100","port":"8086","protocol":"http","database":"Weather_TEST","name":"Influx Server","usetls":false,"tls":"","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"2a8de634.b110ca","type":"influxdb","hostname":"192.168.1.100","port":"8086","protocol":"http","database":"db_innopump","name":"ProductivDatabase","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true}]