NodeRed/NodeRedPredictive Maintenance.json
[{"id":"856745f9.d2c928","type":"tab","label":"Predictiv Maintain","disabled":false,"info":""},{"id":"b4ee7815.fee0e","type":"inject","z":"856745f9.d2c928","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":320,"wires":[["15f759aa.ff465e"]]},{"id":"15f759aa.ff465e","type":"influxdb in","z":"856745f9.d2c928","influxdb":"2a8de634.b110ca","name":"Get luefter_soll","query":"SELECT time, luefter_soll FROM mm_machine WHERE time <= now() and time >= now() -1d","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":340,"y":320,"wires":[["767a8fc4.00d1b","7c525203.a5013c"]]},{"id":"767a8fc4.00d1b","type":"debug","z":"856745f9.d2c928","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":180,"wires":[]},{"id":"7c525203.a5013c","type":"function","z":"856745f9.d2c928","name":"","func":"var work = 0;\nfor(var i=0; i<msg.payload.length-1; i++) {\n    var interval = msg.payload[i+1].time - msg.payload[i].time;\n    work = work + (interval * (msg.payload[i].luefter_soll/100));\n}\n\n\nmsg.payload= {\n    arbeit: work\n}\n\n//msg.topic = \"volume_factor\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[["23615a0d.07609e","e4eee31b.5bef4"]]},{"id":"23615a0d.07609e","type":"debug","z":"856745f9.d2c928","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":180,"wires":[]},{"id":"95986985.c97c68","type":"ui_gauge","z":"856745f9.d2c928","name":"","group":"92761405.eb433","order":0,"width":0,"height":0,"gtype":"gage","title":"Lebensdauer-Barometer","label":"%","format":"{{msg.lebenszeit}}","min":0,"max":"100","colors":["#ca3737","#e6e600","#00b500"],"seg1":"30","seg2":"50","x":1110,"y":320,"wires":[]},{"id":"b8be32bb.591c5","type":"influxdb out","z":"856745f9.d2c928","influxdb":"2a8de634.b110ca","name":"Lifetime Data","measurement":"mm_lifetime","precision":"","retentionPolicy":"","database":"database","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"organisation","bucket":"bucket","x":1070,"y":240,"wires":[]},{"id":"e4eee31b.5bef4","type":"function","z":"856745f9.d2c928","name":"","func":"var num = 100 - (msg.payload.arbeit / 500000000 * 100);\nvar roundedString = num.toFixed(2);\nvar rounded = Number(roundedString);\n\nmsg.lebenszeit = rounded;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":320,"wires":[["95986985.c97c68","b8be32bb.591c5"]]},{"id":"31842e36.332f92","type":"ui_button","z":"856745f9.d2c928","name":"IconRefresh","group":"92761405.eb433","order":9,"width":2,"height":2,"passthru":false,"label":"","tooltip":"Refresh","color":"","bgcolor":"","icon":"fa-refresh fa-4x","payload":"true","payloadType":"bool","topic":"","x":950,"y":400,"wires":[["2b120493.5c2f8c"]]},{"id":"2b120493.5c2f8c","type":"link out","z":"856745f9.d2c928","name":"Refresh","links":["f27927d1.eb8738"],"x":1175,"y":400,"wires":[]},{"id":"f27927d1.eb8738","type":"link in","z":"856745f9.d2c928","name":"","links":["2b120493.5c2f8c"],"x":135,"y":380,"wires":[["15f759aa.ff465e"]]},{"id":"2a8de634.b110ca","type":"influxdb","hostname":"192.168.1.100","port":"8086","protocol":"http","database":"db_innopump","name":"ProductivDatabase","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"92761405.eb433","type":"ui_group","name":"Lebensdauer","tab":"78bfe01b.a3946","order":1,"disp":true,"width":"8","collapse":false},{"id":"78bfe01b.a3946","type":"ui_tab","name":"System Monitor","icon":"dashboard","order":3,"disabled":false,"hidden":false}]