NodeRed/NodeRedWeather.json
[{"id":"7f898b3f.beab04","type":"tab","label":"User Interface","disabled":false,"info":""},{"id":"378aab5e.e5c634","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/test/temp/Outside","qos":"1","datatype":"json","broker":"f37ee20c.9d2ee","x":130,"y":120,"wires":[["a00e1e55.c6c7","b7d0ab6f.974878","6ffdedf7.388034"]]},{"id":"8bac8bdf.d8aed8","type":"ui_gauge","z":"7f898b3f.beab04","name":"","group":"ff501fd1.8d4ba","order":2,"width":6,"height":6,"gtype":"gage","title":"Temperatur","label":"°C","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"24","seg2":"30","x":670,"y":120,"wires":[]},{"id":"580e578b.4c2a98","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"ff501fd1.8d4ba","order":1,"width":6,"height":6,"label":"Temperatur","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":670,"y":160,"wires":[[]]},{"id":"a00e1e55.c6c7","type":"function","z":"7f898b3f.beab04","name":"","func":"msg.payload = msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":120,"wires":[["8bac8bdf.d8aed8","580e578b.4c2a98"]]},{"id":"b7d0ab6f.974878","type":"function","z":"7f898b3f.beab04","name":"","func":"msg.payload = msg.payload.CO2_equiv\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":220,"wires":[["4a3284e6.2b09ac","8f399095.187cb"]]},{"id":"4a3284e6.2b09ac","type":"ui_gauge","z":"7f898b3f.beab04","name":"","group":"ff501fd1.8d4ba","order":5,"width":6,"height":6,"gtype":"gage","title":"CO2 Konzentration","label":"ppm","format":"{{value}}","min":0,"max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"800","seg2":"1000","x":690,"y":220,"wires":[]},{"id":"8f399095.187cb","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"ff501fd1.8d4ba","order":4,"width":6,"height":6,"label":"CO2 Konzentration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":690,"y":260,"wires":[[]]},{"id":"de9c4d8f.092e6","type":"ui_switch","z":"7f898b3f.beab04","name":"","label":"Silent Mode","tooltip":"","group":"94bd2d5a.73302","order":3,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":800,"wires":[["76c7ca96.0a56a4"]]},{"id":"e4a1ec1c.43ba7","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/test/Maschine/Status","qos":"1","datatype":"json","broker":"f37ee20c.9d2ee","x":140,"y":360,"wires":[["18c87e1e.17f792","3ce04e30.ff6622"]]},{"id":"be94bfb0.9fafd","type":"ui_gauge","z":"7f898b3f.beab04","name":"","group":"42ea605f.5afdd","order":2,"width":6,"height":6,"gtype":"gage","title":"Leistung","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":660,"y":360,"wires":[]},{"id":"a8c4aaa7.285fc8","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"42ea605f.5afdd","order":1,"width":6,"height":6,"label":"Leistung","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":660,"y":400,"wires":[[]]},{"id":"18c87e1e.17f792","type":"function","z":"7f898b3f.beab04","name":"","func":"msg.payload = msg.payload.leistung\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":360,"wires":[["be94bfb0.9fafd","a8c4aaa7.285fc8"]]},{"id":"7ab5d808.b0d808","type":"ui_gauge","z":"7f898b3f.beab04","name":"","group":"42ea605f.5afdd","order":5,"width":6,"height":6,"gtype":"gage","title":"Drehzahl","label":"rpm","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"1500","seg2":"2800","x":660,"y":460,"wires":[]},{"id":"14e1d211.63d5ae","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"42ea605f.5afdd","order":4,"width":6,"height":6,"label":"Drehzahl","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":660,"y":500,"wires":[[]]},{"id":"3ce04e30.ff6622","type":"function","z":"7f898b3f.beab04","name":"","func":"msg.payload = msg.payload.drehzahl\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":460,"wires":[["7ab5d808.b0d808","14e1d211.63d5ae"]]},{"id":"532d654.099cd9c","type":"ui_switch","z":"7f898b3f.beab04","name":"","label":"Einschalten","tooltip":"","group":"94bd2d5a.73302","order":2,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":650,"y":880,"wires":[["70c432b8.ada2ec","220b0511.c9c2fa"]]},{"id":"f77c1e6b.cc42a","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/test/Maschine/UserInput/Phy","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":160,"y":840,"wires":[["52b9127e.0218ac","75334552.d887ec"]]},{"id":"7b93d02b.b4e51","type":"comment","z":"7f898b3f.beab04","name":"LED Example","info":"","x":130,"y":1260,"wires":[]},{"id":"49e03fef.87b8a","type":"ui_slider","z":"7f898b3f.beab04","name":"","label":"Lüfterleistung","tooltip":"","group":"937c2f9b.4ecde","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":"0","max":"100","step":"1","x":140,"y":1320,"wires":[["9b690a11.4dfbd8","ed6061e6.f8bdf"]]},{"id":"af76752c.977cd8","type":"comment","z":"7f898b3f.beab04","name":"Home Page","info":"","x":110,"y":40,"wires":[]},{"id":"52b9127e.0218ac","type":"function","z":"7f898b3f.beab04","name":"","func":"msg.payload = msg.payload.silent\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":800,"wires":[["de9c4d8f.092e6"]]},{"id":"75334552.d887ec","type":"function","z":"7f898b3f.beab04","name":"","func":"msg.payload = msg.payload.state\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":880,"wires":[["532d654.099cd9c"]]},{"id":"31748e03.bc0402","type":"json","z":"7f898b3f.beab04","name":"","property":"payload","action":"","pretty":false,"x":690,"y":1320,"wires":[["c6d8cc6d.63ddb","e14d3dd9.a7e6c","7f00b73f.a01498"]]},{"id":"c6d8cc6d.63ddb","type":"mqtt out","z":"7f898b3f.beab04","name":"","topic":"/test/Maschine/UserInput","qos":"1","retain":"true","broker":"f37ee20c.9d2ee","x":910,"y":1320,"wires":[]},{"id":"a0562e8d.40a2","type":"comment","z":"7f898b3f.beab04","name":"User Input","info":"","x":100,"y":620,"wires":[]},{"id":"e2491e1.2246ee","type":"comment","z":"7f898b3f.beab04","name":"Visual - Machinestate","info":"","x":140,"y":280,"wires":[]},{"id":"4bdb4766.889638","type":"comment","z":"7f898b3f.beab04","name":"Visual - Sensordata","info":"","x":130,"y":80,"wires":[]},{"id":"17453210.cfacce","type":"comment","z":"7f898b3f.beab04","name":"Mode Choice","info":"","x":110,"y":660,"wires":[]},{"id":"9b690a11.4dfbd8","type":"debug","z":"7f898b3f.beab04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":420,"y":1280,"wires":[]},{"id":"c3f076fd.af8638","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"937c2f9b.4ecde","order":5,"width":6,"height":6,"label":"Sensor Data MSG","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":930,"y":2080,"wires":[[]]},{"id":"e0e027b8.41e618","type":"Message Counter","z":"7f898b3f.beab04","name":"","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":630,"y":2060,"wires":[["c3f076fd.af8638"],[]]},{"id":"b4e6e130.385cd","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"937c2f9b.4ecde","order":11,"width":6,"height":6,"label":"UserInput","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":900,"y":1960,"wires":[[]]},{"id":"55211c02.fac054","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"937c2f9b.4ecde","order":13,"width":6,"height":6,"label":"Maschine Status","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":890,"y":1860,"wires":[[]]},{"id":"1941c9f1.f34686","type":"Message Counter","z":"7f898b3f.beab04","name":"","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":630,"y":1960,"wires":[["b4e6e130.385cd"],[]]},{"id":"d46dcf30.460c1","type":"Message Counter","z":"7f898b3f.beab04","name":"","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":630,"y":1860,"wires":[["55211c02.fac054"],[]]},{"id":"272d79d4.db05e6","type":"Message Counter","z":"7f898b3f.beab04","name":"","units":"minutes","interval":1,"alignToClock":true,"generator":"internal","x":630,"y":1780,"wires":[["dfeb5659.7746c8"],[]]},{"id":"dfeb5659.7746c8","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"937c2f9b.4ecde","order":3,"width":6,"height":6,"label":"All Channels","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":890,"y":1780,"wires":[[]]},{"id":"10390fd2.ee7f","type":"Memory","z":"7f898b3f.beab04","name":"","scale":"Byte","x":620,"y":2540,"wires":[["a0662131.5480f","86d0d8b3.f56658"]]},{"id":"394343ed.e9b7cc","type":"Uptime","z":"7f898b3f.beab04","name":"","x":620,"y":2660,"wires":[["59f0a1f5.75397"]]},{"id":"6413f29b.6f402c","type":"Loadavg","z":"7f898b3f.beab04","name":"","x":620,"y":2400,"wires":[["a1f05403.fcf478","4c30a3e4.c14b8c"]]},{"id":"99ec1a9d.fedec8","type":"inject","z":"7f898b3f.beab04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"30","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2400,"wires":[["6413f29b.6f402c","10390fd2.ee7f","394343ed.e9b7cc"]]},{"id":"a1f05403.fcf478","type":"debug","z":"7f898b3f.beab04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":2340,"wires":[]},{"id":"a0662131.5480f","type":"debug","z":"7f898b3f.beab04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":2480,"wires":[]},{"id":"3f14405.ca725c","type":"debug","z":"7f898b3f.beab04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1270,"y":2620,"wires":[]},{"id":"59f0a1f5.75397","type":"humanizer","z":"7f898b3f.beab04","name":"","input":"uptime","x":910,"y":2660,"wires":[["3f14405.ca725c","38e69a72.ff1a36"]]},{"id":"8aa981a1.c5e9","type":"ui_gauge","z":"7f898b3f.beab04","name":"","group":"47644d7b.7aed04","order":3,"width":6,"height":6,"gtype":"gage","title":"CPU Usage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":1290,"y":2340,"wires":[]},{"id":"708f5348.3ba5dc","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"47644d7b.7aed04","order":2,"width":8,"height":6,"label":"CPU Usage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1290,"y":2400,"wires":[[]]},{"id":"e672ac38.c194f","type":"ui_gauge","z":"7f898b3f.beab04","name":"","group":"47644d7b.7aed04","order":5,"width":6,"height":6,"gtype":"gage","title":"Memoryusage","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"70","x":1300,"y":2480,"wires":[]},{"id":"e78836e3.037d78","type":"ui_chart","z":"7f898b3f.beab04","name":"","group":"47644d7b.7aed04","order":4,"width":8,"height":6,"label":"Memoryusage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1300,"y":2540,"wires":[[]]},{"id":"38e69a72.ff1a36","type":"ui_text","z":"7f898b3f.beab04","group":"47644d7b.7aed04","order":1,"width":0,"height":0,"name":"Uptime","label":"Uptime","format":"{{msg.payload.humanized}}","layout":"row-spread","x":1280,"y":2660,"wires":[]},{"id":"86d0d8b3.f56658","type":"change","z":"7f898b3f.beab04","name":"","rules":[{"t":"move","p":"payload.memusage","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":2540,"wires":[["e78836e3.037d78","e672ac38.c194f"]]},{"id":"4c30a3e4.c14b8c","type":"change","z":"7f898b3f.beab04","name":"","rules":[{"t":"move","p":"payload.loadavg[0]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":2400,"wires":[["a254a2d1.c7252"]]},{"id":"a254a2d1.c7252","type":"function","z":"7f898b3f.beab04","name":"","func":"msg.payload = msg.payload*100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":2400,"wires":[["708f5348.3ba5dc","8aa981a1.c5e9"]]},{"id":"451a8fb2.822e1","type":"comment","z":"7f898b3f.beab04","name":"Monitoring System","info":"","x":170,"y":1600,"wires":[]},{"id":"903a68bc.7dc0a8","type":"ui_media","z":"7f898b3f.beab04","group":"94bd2d5a.73302","name":"Logo","width":10,"height":"4","order":1,"category":"Logo","file":"InnoPump.JPG","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1070,"y":120,"wires":[[]]},{"id":"ed6061e6.f8bdf","type":"change","z":"7f898b3f.beab04","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.luefter_soll","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":1320,"wires":[["31748e03.bc0402"]]},{"id":"e14d3dd9.a7e6c","type":"debug","z":"7f898b3f.beab04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":860,"y":1260,"wires":[]},{"id":"6ffdedf7.388034","type":"debug","z":"7f898b3f.beab04","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":460,"y":60,"wires":[]},{"id":"4735135b.06cf8c","type":"mqtt out","z":"7f898b3f.beab04","name":"","topic":"/test/Maschine/UserInput/Digi","qos":"1","retain":"true","broker":"f37ee20c.9d2ee","x":1380,"y":840,"wires":[]},{"id":"797f909b.b25ff","type":"json","z":"7f898b3f.beab04","name":"","property":"payload","action":"","pretty":false,"x":1150,"y":840,"wires":[["4735135b.06cf8c","574fdd6d.501ac4"]]},{"id":"68a1da26.22b6a4","type":"ui_text","z":"7f898b3f.beab04","group":"937c2f9b.4ecde","order":1,"width":0,"height":0,"name":"","label":"Number of Activ Devices","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":1700,"wires":[]},{"id":"d794bb27.1cb418","type":"inject","z":"7f898b3f.beab04","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":1700,"wires":[[]]},{"id":"b6c156c1.5454e8","type":"influxdb in","z":"7f898b3f.beab04","influxdb":"2a8de634.b110ca","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","org":"organisation","x":430,"y":1700,"wires":[["f0c40dd.a42f2f"]]},{"id":"f0c40dd.a42f2f","type":"function","z":"7f898b3f.beab04","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":1700,"wires":[["68a1da26.22b6a4"]]},{"id":"4a38aaa9.388624","type":"function","z":"7f898b3f.beab04","name":"","func":"var Silent_Button = false;\nvar State_Button = false;\n\nswitch (msg.topic) {\n    case \"silent\":\n        context.set(\"silent\", msg.payload);\n        break;\n    case \"state\":\n        context.set(\"state\", msg.payload);\n        break;\n}\n\nif (context.get(\"silent\") == undefined){\n    context.set(\"silent\", false);\n}\n\nif(context.get(\"state\")== undefined){\n    context.set(\"silent\", false);\n}\n\nmsg.payload= {\n     silent: context.get(\"silent\"),\n     state: context.get(\"state\")\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":840,"wires":[["797f909b.b25ff"]]},{"id":"76c7ca96.0a56a4","type":"function","z":"7f898b3f.beab04","name":"","func":"if(msg.topic == \"/test/Maschine/UserInput/Phy\"){\n    return null\n}\n\nif(msg.topic != \"/test/Maschine/UserInput/Phy\"){\n    msg.topic = \"silent\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":800,"wires":[["4a38aaa9.388624"]]},{"id":"70c432b8.ada2ec","type":"function","z":"7f898b3f.beab04","name":"","func":"if(msg.topic == \"/test/Maschine/UserInput/Phy\"){\n    return null\n}\n\nif(msg.topic != \"/test/Maschine/UserInput/Phy\"){\n    msg.topic = \"state\"\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":880,"wires":[["4a38aaa9.388624"]]},{"id":"c603529f.051fa","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/productiv/sensorData","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":140,"y":180,"wires":[["a00e1e55.c6c7","b7d0ab6f.974878"]]},{"id":"78f7031e.ef53fc","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/productiv/machineData","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":140,"y":420,"wires":[["18c87e1e.17f792","3ce04e30.ff6622"]]},{"id":"c78490e9.d13fa","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/productiv/userInput/physical","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":160,"y":920,"wires":[["52b9127e.0218ac","75334552.d887ec"]]},{"id":"4d5869b8.0bd368","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/productiv/userInput/digital","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":190,"y":1940,"wires":[["1941c9f1.f34686","272d79d4.db05e6"]]},{"id":"cb5921e5.fb6a3","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/productiv/userInput/physical","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":200,"y":2000,"wires":[["1941c9f1.f34686","272d79d4.db05e6"]]},{"id":"ace0a08a.fd4c6","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/productiv/sensorData","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":180,"y":2060,"wires":[["e0e027b8.41e618","272d79d4.db05e6"]]},{"id":"1170ddf3.17bf82","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/productiv/machineData","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":180,"y":1820,"wires":[["d46dcf30.460c1","272d79d4.db05e6"]]},{"id":"acdd8bbe.4132e8","type":"mqtt in","z":"7f898b3f.beab04","name":"","topic":"/productiv/controllSystem","qos":"2","datatype":"json","broker":"f37ee20c.9d2ee","x":190,"y":1880,"wires":[["1941c9f1.f34686","272d79d4.db05e6"]]},{"id":"574fdd6d.501ac4","type":"mqtt out","z":"7f898b3f.beab04","name":"","topic":"/productiv/userInput/digital","qos":"2","retain":"true","broker":"f37ee20c.9d2ee","x":1390,"y":900,"wires":[]},{"id":"7f00b73f.a01498","type":"mqtt out","z":"7f898b3f.beab04","name":"","topic":"/productiv/controllSystem","qos":"2","retain":"true","broker":"f37ee20c.9d2ee","x":910,"y":1380,"wires":[]},{"id":"97d0c0be.68dcc","type":"mqtt out","z":"7f898b3f.beab04","name":"","topic":"/productiv/userInput/state","qos":"2","retain":"true","broker":"f37ee20c.9d2ee","x":1010,"y":940,"wires":[]},{"id":"220b0511.c9c2fa","type":"change","z":"7f898b3f.beab04","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":940,"wires":[["97d0c0be.68dcc"]]},{"id":"f37ee20c.9d2ee","type":"mqtt-broker","name":"Raspberry Pi","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ff501fd1.8d4ba","type":"ui_group","name":"Messdaten","tab":"bd1a1af1.1df3b8","order":2,"disp":false,"width":"12","collapse":false},{"id":"94bd2d5a.73302","type":"ui_group","name":"User Input","tab":"bd1a1af1.1df3b8","order":1,"disp":false,"width":"10","collapse":false},{"id":"42ea605f.5afdd","type":"ui_group","name":"Maschinendaten","tab":"bd1a1af1.1df3b8","order":3,"disp":false,"width":"12","collapse":false},{"id":"937c2f9b.4ecde","type":"ui_group","name":"Workeload MQTT MSG","tab":"a669f3ce.925e1","order":3,"disp":true,"width":"13","collapse":false},{"id":"47644d7b.7aed04","type":"ui_group","name":"Hardware","tab":"a669f3ce.925e1","order":2,"disp":true,"width":"14","collapse":false},{"id":"2a8de634.b110ca","type":"influxdb","hostname":"192.168.1.100","port":"8086","protocol":"http","database":"db_innopump","name":"ProductivDatabase","usetls":false,"tls":"","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"bd1a1af1.1df3b8","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a669f3ce.925e1","type":"ui_tab","name":"Server Monitor","icon":"dashboard","order":4,"disabled":false,"hidden":false}]